@import "../../../assets/scss/_variables.scss";

.navbar {
  background-color: $color-primary;
  margin-bottom: 5.5rem;
  .dropdown-toggle {
    color: #fff;
  }
  .btn-icon {
    .symbol {
      padding: 0.3rem 0.4rem;
      background: $blue-shade-4;
      color: $color-primary;
      border-radius: 0.42rem;
    }
    &:hover {
      background: $btn-primary-hover;
    }
  }
  ::ng-deep.dropdown-menu {
    left: -3.8rem;
  }
}
