<div class="personal">
  <form [formGroup]="personalInformationForm">
    <div class="form-group row" formGroupName="property">
      <label for="" class="col-sm-3 col-form-label">Total area of property <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <div class="input-group mb-3">
          <input type="text" class="form-control form-control-solid form-control-lg" formControlName="area">
          <div class="input-group-append width-7">
            <select name="" id="" formControlName="unit"
              class="form-control custom-select form-control-solid custom-select">
              <option selected value="{{'Marla'}}">Marla</option>
              <option value="{{'Kanal'}}">Kanal</option>
            </select>
          </div>
        </div>
        <!-- <div *ngIf="
        personalInformationForm.get('property').get('area').invalid &&
        (personalInformationForm.get('property').get('area').dirty ||
        personalInformationForm.get('property').get('area').touched)
          "></div>
          <div *ngIf="personalInformationForm.get('property').get('area').errors.required" class="invalid-feedback">
            Please provide property area
          </div> -->

      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-3 col-form-label">Name <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input [class.is-invalid]="
              personalInformationFormControls.name.invalid &&
              (personalInformationFormControls.name.dirty ||
                personalInformationFormControls.name.touched)
            " [class.is-valid]="
              !personalInformationFormControls.name.invalid &&
              (personalInformationFormControls.name.dirty ||
                personalInformationFormControls.name.touched)
            " type="text" maxlength="25" formControlName="name"
          class="form-control form-control-solid form-control-lg" />
        <div *ngIf="
              personalInformationFormControls.name.invalid &&
              (personalInformationFormControls.name.dirty ||
                personalInformationFormControls.name.touched)
            ">
          <div *ngIf="personalInformationFormControls.name.errors.required" class="invalid-feedback">
            Please provide name
          </div>
          <div *ngIf="personalInformationFormControls.name.errors.minlength" class="invalid-feedback-warning">
            Minimum charactors length should be 5
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-3 col-form-label">CNIC <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input [class.is-invalid]="
        personalInformationFormControls.cnic.invalid &&
        (personalInformationFormControls.cnic.dirty ||
          personalInformationFormControls.cnic.touched)
      " [class.is-valid]="
        !personalInformationFormControls.cnic.invalid &&
        (personalInformationFormControls.cnic.dirty ||
          personalInformationFormControls.cnic.touched)
      " type="text" minlength="13" maxlength="13" placeholder="4250175711365" (keydown)="numericValidator($event)"
          formControlName="cnic" class="form-control form-control-solid form-control-lg" />
        <div *ngIf="
              personalInformationFormControls.cnic.invalid &&
              (personalInformationFormControls.cnic.dirty ||
                personalInformationFormControls.cnic.touched)
            ">
          <div *ngIf="personalInformationFormControls.cnic.errors.required" class="invalid-feedback">
            Please provide cnic number
          </div>
          <div *ngIf="personalInformationFormControls.cnic.errors.minlength" class="invalid-feedback-warning">
            Invalid cnic number
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-3 col-form-label">Co Applicant Name <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input [class.is-invalid]="
              personalInformationFormControls.co_applicant_name.invalid &&
              (personalInformationFormControls.co_applicant_name.dirty ||
                personalInformationFormControls.co_applicant_name.touched)
            " [class.is-valid]="
              !personalInformationFormControls.co_applicant_name.invalid &&
              (personalInformationFormControls.co_applicant_name.dirty ||
                personalInformationFormControls.co_applicant_name.touched)
            " type="text" maxlength="25" formControlName="co_applicant_name"
          class="form-control form-control-solid form-control-lg" />
        <div *ngIf="
              personalInformationFormControls.co_applicant_name.invalid &&
              (personalInformationFormControls.co_applicant_name.dirty ||
                personalInformationFormControls.co_applicant_name.touched)
            ">
          <div *ngIf="personalInformationFormControls.co_applicant_name.errors.required" class="invalid-feedback">
            Please provide co applicant name
          </div>
          <div *ngIf="personalInformationFormControls.co_applicant_name.errors.minlength"
            class="invalid-feedback-warning">
            Minimum charactors length should be 5
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-3 col-form-label">Co Applicant CNIC <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input [class.is-invalid]="
        personalInformationFormControls.co_applicant_cnic.invalid &&
        (personalInformationFormControls.co_applicant_cnic.dirty ||
          personalInformationFormControls.co_applicant_cnic.touched)
      " [class.is-valid]="
        !personalInformationFormControls.co_applicant_cnic.invalid &&
        (personalInformationFormControls.co_applicant_cnic.dirty ||
          personalInformationFormControls.co_applicant_cnic.touched)
      " type="text" minlength="13" maxlength="13" placeholder="322 8268 648" (keydown)="numericValidator($event)"
          formControlName="co_applicant_cnic" class="form-control form-control-solid form-control-lg" />
        <div *ngIf="
              personalInformationFormControls.co_applicant_cnic.invalid &&
              (personalInformationFormControls.co_applicant_cnic.dirty ||
                personalInformationFormControls.co_applicant_cnic.touched)
            ">
          <div *ngIf="personalInformationFormControls.co_applicant_cnic.errors.required" class="invalid-feedback">
            Please provide co-applicant cnic number
          </div>
          <div *ngIf="personalInformationFormControls.co_applicant_cnic.errors.minlength"
            class="invalid-feedback-warning">
            Invalid cnic number
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-3 col-form-label">Address of property <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <textarea [class.is-invalid]="
              personalInformationFormControls.address.invalid &&
              (personalInformationFormControls.address.dirty ||
                personalInformationFormControls.address.touched)
            " [class.is-valid]="
              !personalInformationFormControls.address.invalid &&
              (personalInformationFormControls.address.dirty ||
                personalInformationFormControls.address.touched)
            " (keydown)="textValidator($event)" type="text" maxlength="25" formControlName="address"
          class="form-control form-control-solid form-control-lg" rows="5"></textarea>
        <div *ngIf="
              personalInformationFormControls.address.invalid &&
              (personalInformationFormControls.address.dirty ||
                personalInformationFormControls.address.touched)
            ">
          <div *ngIf="personalInformationFormControls.address.errors.required" class="invalid-feedback">
            Please provide address
          </div>
          <div *ngIf="personalInformationFormControls.address.errors.minlength" class="invalid-feedback-warning">
            Minimum charactors length should be 5
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-3 col-form-label">Owner Name <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input [class.is-invalid]="
              personalInformationFormControls.owner_name.invalid &&
              (personalInformationFormControls.owner_name.dirty ||
                personalInformationFormControls.owner_name.touched)
            " [class.is-valid]="
              !personalInformationFormControls.owner_name.invalid &&
              (personalInformationFormControls.owner_name.dirty ||
                personalInformationFormControls.owner_name.touched)
            "  type="text" maxlength="25" formControlName="owner_name"
          class="form-control form-control-solid form-control-lg" />
        <div *ngIf="
              personalInformationFormControls.owner_name.invalid &&
              (personalInformationFormControls.owner_name.dirty ||
                personalInformationFormControls.owner_name.touched)
            ">
          <div *ngIf="personalInformationFormControls.owner_name.errors.required" class="invalid-feedback">
            Please provide owner name
          </div>
          <div *ngIf="personalInformationFormControls.owner_name.errors.minlength" class="invalid-feedback-warning">
            Minimum charactors length should be 5
          </div>
        </div>
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-3 col-form-label">Type of ownership <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <select formControlName="ownership_type" class="form-control form-control-solid custom-select">
          <option selected value="{{'Sole'}}">Sole</option>
        </select>
        <!-- <div *ngIf="
            personalInformationFormControls.ownership_type.invalid &&
            (personalInformationFormControls.ownership_type.dirty ||
              personalInformationFormControls.ownership_type.touched)
          "></div>

        <div *ngIf="personalInformationFormControls.ownership_type.errors.required" class="invalid-feedback">
          Please select ownership type
        </div> -->
      </div>
    </div>

    <div class="form-group row">
      <label for="" class="col-sm-3 col-form-label">Authority <span class="text-danger">*</span></label>
      <div class="col-sm-9">
        <input [class.is-invalid]="
              personalInformationFormControls.authority.invalid &&
              (personalInformationFormControls.authority.dirty ||
                personalInformationFormControls.authority.touched)
            " [class.is-valid]="
              !personalInformationFormControls.authority.invalid &&
              (personalInformationFormControls.authority.dirty ||
                personalInformationFormControls.authority.touched)
            " (keydown)="textValidator($event)" type="text" formControlName="authority"
          class="form-control form-control-solid form-control-lg" />
        <div *ngIf="
              personalInformationFormControls.authority.invalid &&
              (personalInformationFormControls.authority.dirty ||
                personalInformationFormControls.authority.touched)
            ">
          <div *ngIf="personalInformationFormControls.authority.errors.required" class="invalid-feedback">
            Please provide authority
          </div>

        </div>
      </div>
    </div>

    <div class="form-group row">
      <div class="col-sm-12">
        <div class="d-flex justify-content-center">
          <button type="button" [disabled]="
                personalInformationForm.status.toLowerCase() === 'invalid'
              " (click)="submit('next')" class="btn btn-lg btn-primary">
            {{ selectedTabAlter.id === 3 ? 'Generate Certificate' : 'Save Form' }}
          </button>
        </div>
      </div>
    </div>
  </form>
</div>