@import "../../../assets/scss/_variables.scss";

.card {
  position: relative;
  height: 100%;
  &-body {
    background-image: url("../../../assets/images/bg-login.png");
    background-position: inherit;
    border-radius: 0.42rem;
    display: flex;
    padding: 5rem;
    justify-content: flex-end;
    .close {
      position: absolute;
      top: 2rem;
      right: 2rem;
    }
    .form-container {
      width: 33rem;
      border-left: 2px solid #fff;
      padding: 2rem 3rem;
      display: flex;
      color: #fff;
      flex-direction: column;
      justify-content: center;
      &-title {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        margin-bottom: 2rem;
        align-items: center;
        h3 {
          font-size: 1.5rem;
          font-weight: 500;
          margin-bottom: 0.8rem;
        }
        p {
          color: #fff;
        }
        img {
          margin-bottom: 1.8rem;
          width: 10rem;
        }
      }
      &-signup {
        text-align: center;
        margin-top: 2rem;
        font-size: 1rem;
        a {
          color: $text-muted;
          margin-left: 0.5rem;
          font-weight: 500;
          transition: all 0.5s ease;
          &:hover {
            color: $color-primary;
            text-decoration: none;
          }
        }
      }
      a {
        color: $text-purple;
        font-weight: 600;
        margin-left: 0.5rem;
        text-decoration: none;
        transition: all 0.5s ease;
        &:hover{
          color: $color-primary;
        }
      }
    }
    button {
      margin: 0 auto;
      padding: 0.6rem 4rem;
      display: flex;
    }
    ::ng-deep .wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      .otp-input {
        background-color: $wave-grey;
        border-color: $wave-grey;
        font-size: 1.5rem;
        font-family: "Poppins", sans-serif;
        padding: 0.5rem;
      }
    }
    // CALENDAR
    ::ng-deep.dropdown-menu {
      background: #fff;
      border: none;
      box-shadow: 0 0 30px 0 rgba(82, 63, 105, 0.05);
      padding-top: 0.7rem;
      .ngb-dp-header,
      .ngb-dp-weekdays {
        background: #fff;
        border: none;
        .ngb-dp-arrow {
          .btn-link {
            color: $text-grey;
            padding: 0 0.5rem !important;
            &:hover {
              background: $light-grey;
            }
            &:focus {
              outline: 0 !important;
            }
            .ngb-dp-navigation-chevron {
              border-width: 0.1em 0.1em 0 0;
            }
          }
        }
        select,
        &:focus {
          border: none !important;
        }
      }
      .ngb-dp-month {
        .ngb-dp-week {
          .ngb-dp-weekday {
            color: $text-dark;
            font-weight: 600;
            font-style: unset !important;
          }
          .ngb-dp-day {
            width: 2.5rem;
            height: 2.5rem;
            font-size: 0.9rem !important;
            .btn-light {
              color: $text-grey !important;
              width: 2.5rem !important;
              height: 2.5rem !important;
              display: flex;
              justify-content: center;
              align-items: center;
              &:hover {
                background-color: $light-grey;
                border-color: $light-grey;
              }
            }
            .bg-primary {
              background-color: $color-primary-light !important;
              color: $color-primary !important;
              font-weight: 300;
            }
          }
        }
      }
      ::ng-deep .ngb-dp-day,
      ::ng-deep .ngb-dp-week-number,
      ::ng-deep .ngb-dp-weekday {
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }
}

::ng-deep .modal-content {
  border: none;
  background-color: transparent;
}

::ng-deep .modal {
  &-backdrop {
    // background-image: url("../../../assets/images/bg-login.png");
    // &.show {
    //   opacity: 1;
    // }
  }
  &-dialog {
    display: flex;
    // height: 100vh;
    align-items: center;
  }
}
