<div class="personal">
    <form [formGroup]="personalInformationForm">
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Title Document <span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <input type="file" formControlName="image" class="form-control form-control-solid form-control-lg"
                    id="inputGroupFile02">
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2">Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Copy agreement to sell <span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" disabled disabled readonly class="custom-file-input form-control form-control-solid form-control-lg"
                            id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2" disabled>Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                <!--  -->
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Copy of sale deed <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" disabled class="custom-file-input form-control form-control-solid form-control-lg"
                            id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2" disabled>Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Copy mutation number <span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" disabled class="custom-file-input form-control form-control-solid form-control-lg"
                            id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2" disabled>Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Copy Sanction/Approval letter <span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" disabled class="custom-file-input form-control form-control-solid form-control-lg"
                            id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2" disabled>Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Copy approved map of house <span
                    class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" disabled class="custom-file-input form-control form-control-solid form-control-lg"
                            id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2" disabled>Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Copy fard of sale <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" disabled class="custom-file-input form-control form-control-solid form-control-lg"
                            id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2" disabled>Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Copy of AKS Sharjah <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" disabled class="custom-file-input form-control form-control-solid form-control-lg"
                            id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2" disabled>Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Copy Moqa Naqshah <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" disabled class="custom-file-input form-control form-control-solid form-control-lg"
                            id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2" disabled>Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Copy of AKS Masavi <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" disabled class="custom-file-input form-control form-control-solid form-control-lg"
                            id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2" disabled>Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>
        <div class="form-group row">
            <label for="" class="col-sm-3 col-form-label">Copy of NEC <span class="text-danger">*</span></label>
            <div class="col-sm-9">
                <div class="input-group mb-3">
                    <div class="custom-file">
                        <input type="file" disabled class="custom-file-input form-control form-control-solid form-control-lg"
                            id="inputGroupFile02">
                        <label class="custom-file-label" for="inputGroupFile02"
                            aria-describedby="inputGroupFileAddon02">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-primary ml-2 mr-2" disabled>Upload</button>
                        <button class="btn btn-danger">Delete</button>
                    </div>
                </div>
                
            </div>
        </div>


        <div class="form-group row">
            <div class="col-sm-12">
                <div class="d-flex justify-content-center">
                    <button type="button" (click)="submit('next')" [disabled]="personalInformationForm.status.toLowerCase() === 'invalid'" class="btn btn-lg btn-primary width-7">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>