<div class="container pt-5 dashboard">
  <div class="row">
    <div class="col-12">
      <h1 class="heading">Select type of legal opinion</h1>
    </div>
  </div>
  <div class="row dashboard__content">
    <div class="col-sm-3">
      <button class="btn btn-block btn-light-primary">Purchase</button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-block btn-light-primary">Construction</button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-block btn-light-primary">BTF</button>
    </div>
    <div class="col-sm-3">
      <button class="btn btn-block btn-light-primary">Staff Loan</button>
    </div>
    <div class="col-sm-12 d-flex justify-content-center mt-5 width-7">
      <button class="btn btn-large btn-primary">Select</button>
    </div>
  </div>
</div>
